<div class="dnd-container">
    <div class="animated-taglines">
        <h2 class="tagline"><span>Drag</span> <span>and</span> <span>Drop</span></h2>
        <h2 class="tagline full-featured"><strong>Full-featured</strong> Form Editing</h2>
    </div>
    <section id="main_content" class="inner">
        <div class="build-form">
            <div class="form-wrap form-builder">
                <div class="stage-wrap pull-left empty" data-content="Drag a field from the right to this area">
                    <ul class="frmb ui-sortable" style="min-height: 508px;"></ul>
                </div>
                <div class="cb-wrap pull-right">
                    <ul class="frmb-control ui-sortable">
                        <li class="icon-autocomplete input-control input-control-0 ui-sortable-handle" data-type="autocomplete"><span>Autocomplete</span></li>
                        <li class="icon-button input-control input-control-1 ui-sortable-handle" data-type="button"><span>Button</span></li>
                        <li class="icon-checkbox-group input-control input-control-6 ui-sortable-handle" data-type="checkbox-group"><span>Checkbox Group</span></li>
                        <li class="icon-date input-control input-control-11 ui-sortable-handle" data-type="date"><span>Date Field</span></li>
                        <li class="icon-file input-control input-control-10 ui-sortable-handle" data-type="file"><span>File Upload</span></li>
                        <li class="icon-header input-control input-control-4 ui-sortable-handle" data-type="header"><span>Header</span></li>
                        <li class="icon-hidden input-control input-control-2 ui-sortable-handle" data-type="hidden"><span>Hidden Input</span></li>
                        <li class="icon-paragraph input-control input-control-3 ui-sortable-handle" data-type="paragraph"><span>Paragraph</span></li>
                        <li class="icon-number input-control input-control-12 ui-sortable-handle" data-type="number"><span>Number</span></li>
                        <li class="icon-radio-group input-control input-control-7 ui-sortable-handle" data-type="radio-group"><span>Radio Group</span></li>
                        <li class="icon-select input-control input-control-5 ui-sortable-handle" data-type="select"><span>Select</span></li>
                        <li class="icon-text input-control input-control-9 ui-sortable-handle" data-type="text"><span>Text Field</span></li>
                        <li class="icon-textarea input-control input-control-13 ui-sortable-handle" data-type="textarea"><span>Text Area</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>