<div id="main-container">
    <div id="code-container">
        <div id="control-panel">
            <div id="code-info">
                <span class="code-type">JSON</span>
                <span class="code-info-time">{{builderInfo.finishTime}}</span>
                <span [ngClass]="{'info':builderInfo.msgType=='info','error':builderInfo.msgType!=='info'}">{{builderInfo.msg}}</span>
            </div>
            <div class="control-btn-panel">
                <nz-dropdown>
                    <button nz-button nz-dropdown [nzType]="'primary'" class="btn btn-default btn-sm">
            <span>{{demoName}}</span>
            <i class="anticon anticon-down"></i>
          </button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a href="javascript:;" title="水平布局" (click)="toggleSchema('horizontal-layout')">Horizontal Layout Example</a>
                        </li>
                        <li nz-menu-item>
                            <a href="javascript:;" title="垂直布局" (click)="toggleSchema('vertical-layout')">Vertical Layout Example</a>
                        </li>
                        <li nz-menu-item>
                            <a href="javascript:;" title="栅格布局例子" (click)="toggleSchema('grid')">Grid Layout Example</a>
                        </li>
                        <!--  <li nz-menu-item>
              <a href="javascript:;" title="简单例子" (click)="toggleSchema('simple')">Simple Example</a>
            </li> -->
                        <li nz-menu-item>
                            <a href="javascript:;" title="其他例子" (click)="toggleSchema('other')">Other Example</a>
                        </li>
                        <li nz-menu-item>
                            <a href="javascript:;" title="全部 widget 例子" (click)="toggleSchema('full')">Full Widget Example</a>
                        </li>
                    </ul>
                </nz-dropdown>
                <!-- <a href="javascript:;" (click)="toggleSchema()" title="点击切换schema" class="btn btn-default btn-sm">Test：Toggle schema</a> -->
                <a href="javascript:;" (click)="run(editor)" class="btn btn-default btn-sm" title="执行代码">RUN</a>
            </div>
        </div>
        <div #editor id="code-panel" ace-editor [text]="schemaString" [mode]="'json'" [theme]="'chrome'" [options]="aceOptions" [readOnly]="false" (textChanged)="onAceChange($event)" style="display:block; height: 90vh; width:100%"></div>
    </div>
    <div id="h-handler" class="handler" style="left: 40%;"></div>
    <div id="view-container">
        <div id="control-panel">
            <div class="control-btn-panel">
                <nz-dropdown>
                    <button nz-button nz-dropdown class="btn btn-default btn-sm">
                      <span>Save</span>
                      <i class="anticon anticon-down"></i>
                    </button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a href="javascript:;" title="下载HTML模板" (click)="copyHTMLCode(1)">Download HTML</a>
                        </li>
                        <li nz-menu-item>
                            <a href="javascript:;" title="复制HTML模板代码" (click)="copyHTMLCode()">Copy HTML code</a>
                        </li>
                    </ul>
                </nz-dropdown>
            </div>
        </div>
        <br>
        <div style="height: 90vh;padding: 24px;background: inherit;overflow-y: auto;">
            <zorro-form-builder [schema]="schemaJson" [model]="model" [actions]="actions" (onErrorChange)="logErrors($event.value)" (onChange)="setValue($event.value)" (onBuilderFinish)="onBuilderFinish($event)"></zorro-form-builder>
        </div>
    </div>
</div>