<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!--  <sf-form (onErrorChange)="logErrors($event.value)" (onChange)="setValue($event.value)" [schema]="schema" [model]="model"
        [validators]="fieldValidators" [actions]="actions">
      </sf-form> -->
      <button class="btn btn-primary copyCodeBtn" data-clipboard-target="#html-code" >Copy HTML code</button> <br>
      <bs-form-builder [schema]="schema" [model]="model" [actions]="actions" (onErrorChange)="logErrors($event.value)" (onChange)="setValue($event.value)"
        (onBuilderFinish)="onBuilderFinish($event)"></bs-form-builder>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary " (click)="changeSchema()">Change schema</button> <br>
      <pre style="height:800px">{{schema | json}}</pre>
    </div>
    <div class="col-md-4">
      <h3>Model:</h3>
      <pre>{{value | json}}</pre>
    </div>
  </div>
  <textarea id="html-code" hidden>{{htmlCode}}</textarea>
</div>