.ant-calendar-picker {
    width: 100%;
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

.ant-form-item-children {
    button {
        margin-left: 8px;
    }
}