<div class="container" [class.hide]="hide" [class.show]="show">
    <img class="collapse" src="./assets/images/close-r.png" alt="折叠" title="折叠" (click)="collapse()" />
    <h3>Generated Code</h3>
    <nz-tabset>
        <nz-tab nzTitle="HTML (template.html)">
            <pre class="code"><code highlight [code]="htmlCode" [language]="['HTML']" (highlighted)="onHighlight($event)"></code></pre>
        </nz-tab>
        <nz-tab nzTitle="TypeScript (template.ts)" style="overflow-y: auto">
            <pre class="code"><code highlight [code]="jsCode" [language]="['TypeScript']" (highlighted)="onHighlight($event)"></code></pre>
        </nz-tab>
    </nz-tabset>
</div>